@tailwind base;
@tailwind components;
@tailwind utilities;
.active{
     background-color: #1355A0 !important;
     font-weight: 700 !important;
     border-radius: 0 !important;
     border-radius: 6px !important;
}